root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
tab_width = 4

[*.gradle]
indent_style = tab

[*.java]
indent_style = tab
ij_continuation_indent_size = 8
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,*,|,net.minecraft.**,|,org.polyfrost.**
ij_java_class_count_to_use_import_on_demand = 999

[*.json]
indent_style = space
indent_size = 2

[*.properties]
indent_style = space
indent_size = 2

[.editorconfig]
indent_style = space
indent_size = 4

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_annotation = disabled
ktlint_standard_indent = disabled

ktlint_standard_max-line-length = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_statement-wrapping = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_comment-wrapping = disabled

ktlint_standard_if-else-bracing = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_multiline-if-else = disabled

ktlint_standard_property-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_function-signature = disabled

ktlint_standard_string-template-indent = disabled
ktlint_standard_value-parameter-comment = disabled
ktlint_standard_value-argument-comment = disabled
