[versions]
kotlin = "2.0.255-SNAPSHOT"
slf4j = "2.0.12"
annotations = "24.1.0"
kotlinter = "4.2.0"
kotlin-abi = "0.14.0"
textile = "2.0.1"
dokka = "1.9.10"

[plugins]
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-abi = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "kotlin-abi" }
licenser = { id = "org.quiltmc.gradle.licenser", version.ref = "textile" }
kotlinter = { id = "org.jmailen.kotlinter", version.ref = "kotlinter" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
git_hooks = { id = "com.github.jakemarsden.git-hooks", version = "0.0.2" }

[libraries]
slf4j-api = { module = "org.slf4j:slf4j-api", version.ref = "slf4j" }
slf4j-simple = { module = "org.slf4j:slf4j-simple", version.ref = "slf4j" }

kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-annotations = { module = "org.jetbrains:annotations", version.ref = "annotations" }
dokka_base = { module = "org.jetbrains.dokka:dokka-base", version.ref = "dokka" }

[bundles]
kotlin = ["kotlin-stdlib", "kotlin-annotations"]
